<app-container>
  <ng-container label>Great Button</ng-container>
  <ng-container>
    <button
      app-disable-reason
      mat-raised-button
      [isDisabled]="isDisabled"
      reason="You are not lucky enough to click me."
      color="primary"
      (click)="click($event)"
    >
      Click me
    </button>
  </ng-container>
  <ng-container info>
    This is a <strong>Button</strong> that is sometimes working and sometimes
    not, it should tell you why.
  </ng-container>
</app-container>
