<app-container>
  <ng-container label>Great Button</ng-container>
  <ng-container>
    <button
      *ngIf="isDisabled"
      color="accent"
      mat-raised-button
      (click)="showReason()"
    >
      Click me
    </button>
    <button
      *ngIf="!isDisabled"
      color="primary"
      (click)="onClick($event)"
      mat-raised-button
    >
      Click me
    </button>
  </ng-container>
  <ng-container info>
    This is a <strong>Button</strong> that is sometimes working and sometimes
    not, it should tell you why.
  </ng-container>
</app-container>
