<app-container>
  <ng-container label>Great Button</ng-container>
  <ng-container>
    <button
      *ngIf="isDisabled"
      color="accent"
      mat-raised-button
      (click)="showReason()"
    >
      Click me
    </button>
    <button
      *ngIf="!isDisabled"
      color="primary"
      (click)="onClick($event)"
      mat-raised-button
    >
      Click me
    </button>
  </ng-container>
  <ng-container info>
    If you are <em> lucky </em> you can click me <strong> 2 times </strong> and
    something will happen. If you are not you are informed about it.
  </ng-container>
</app-container>
